<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Employees Per Location</h4>
                    <p class="category">Location</p>
                </div>
                <div class="content">
                    {{chartist-chart type="bar" data=model}}
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Management
                            <i class="fa fa-circle text-danger"></i> Engineers
                            <i class="fa fa-circle text-warning"></i> HR
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-reload"></i> Updated 3 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}
